<div class="container">
	<h1>Lets start</h1>
<%= form_tag(game_answer_path) do %>
	

	<h2><%= @questions.first.title %></h2>


<% case @order %>
<% when 1 %>

	<%= radio_button_tag(:answer, "a") %>
	<%= label_tag(:a, @questions.first.a) %>
	<%= radio_button_tag(:answer, "b") %>
	<%= label_tag(:b, @questions.first.b) %>
	<%= radio_button_tag(:answer, "c") %>
	<%= label_tag(:c, @questions.first.c) %>


<% when 2 %>

	<%= radio_button_tag(:answer, "b") %>
	<%= label_tag(:b, @questions.first.b) %>
	<%= radio_button_tag(:answer, "a") %>
	<%= label_tag(:a, @questions.first.a) %>
	<%= radio_button_tag(:answer, "c") %>
	<%= label_tag(:c, @questions.first.c) %>


<% when 3 %>

	<%= radio_button_tag(:answer, "b") %>
	<%= label_tag(:b, @questions.first.b) %>
	<%= radio_button_tag(:answer, "c") %>
	<%= label_tag(:c, @questions.first.c) %>
	<%= radio_button_tag(:answer, "a") %>
	<%= label_tag(:a, @questions.first.a) %>
<% end %>


	<%= submit_tag "enviar" %>
<% end -%>


</div>

