<header>
	<div class="logo"></div>
	<nav>
		<div class="acc">
			<h4>Usuario</h4>
			<a href="" class="logout">logout</a>
			<div class="img-profile"></div>
				<ul>
				<li></li>
				<li></li>
				<li></li>
				</ul>
		</div>		
	</nav>
</header>


<a href="<%= root_path %>">Index</a>
<a href="<%= questions_path %>">Questions</a>

<% if current_user.nil? %>
  <a href="<%= new_user_session_path %>">Ingresar</a>
  <a href="<%= new_user_registration_path %>">Registrarse</a>
<% else %>
  <a href="<%= destroy_user_session_path  %>" data-method="delete">Salir</a>
<% end %>


