<header>
	<div class="logo" href="<%= root_path %>"></div>
	<% if user_signed_in? %>
	<nav>
		<div class="acc">
			<h4><%= current_user.name %></h4>
			<a href="<%= destroy_user_session_path  %>" data-method="delete" class="logout">Salir</a>
			<div class="img-profile"></div>
			<div class="display-level"><%= current_user.level %></div>
				<ul>
				<li></li>
				<li></li>
				<li></li>
				</ul>
		</div>		
	</nav>

	<% else %>

  <a href="<%= new_user_session_path %>">Ingresar</a>
  <a href="<%= new_user_registration_path %>">Registrarse</a>
	<% end %>




</header>

