<a href="<%= root_path %>">Index</a>
<a href="<%= questions_path %>">Questions</a>

<% if current_user.nil? %>
  <a href="<%= new_user_session_path %>">Ingresar</a>
  <a href="<%= new_user_registration_path %>">Registrarse</a>
<% else %>
  <a href="<%= destroy_user_session_path  %>" data-method="delete">Salir</a>
<% end %>


